.footer{
  margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 15px 0;

}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  font-family: 500;
  font-size: 18px;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  /* margin-inline-start: 0px;
  margin-inline-end: 0px; */
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
.footer ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
 
  font-family: 500;
  font-size: 18px;

}

@media(max-width:600px){
  .footer{
    display: block;
    text-align: center;
  }
  .footer ul li{
    margin: 10px;
  }
  .footer ul{
    margin-top: 10px;
  }
}

